﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><center>Cine Kinal</center></h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cartelera</h2>
        <p><a class="btn btn-default" href="http://localhost:3787/Carteleras">Cartelera &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Peliculas</h2>
        <p><a class="btn btn-default" href="http://localhost:3787/Peliculas">Peliculas &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Complejos</h2>
        <p><a class="btn btn-default" href="http://localhost:3787/Complejos">Complejos &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Salas</h2>
        <p><a class="btn btn-default" href="http://localhost:3787/Salas">Salas &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Funciones</h2>
        <p><a class="btn btn-default" href="http://localhost:3787/Funciones">Funciones &raquo;</a></p>
    </div>
   
</div>