﻿@model Banco.Models.Tarjeta

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Tarjeta</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.PinAcceso, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PinAcceso)
                @Html.ValidationMessageFor(model => model.PinAcceso)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumeroSecreeto, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumeroSecreeto)
                @Html.ValidationMessageFor(model => model.NumeroSecreeto)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaCreacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaCreacion)
                @Html.ValidationMessageFor(model => model.FechaCreacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaValidez, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaValidez)
                @Html.ValidationMessageFor(model => model.FechaValidez)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Limite, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Limite)
                @Html.ValidationMessageFor(model => model.Limite)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaPago, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaPago)
                @Html.ValidationMessageFor(model => model.FechaPago)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaCorte, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaCorte)
                @Html.ValidationMessageFor(model => model.FechaCorte)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoTarjetaId, "TipoTarjetaId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TipoTarjetaId", String.Empty)
                @Html.ValidationMessageFor(model => model.TipoTarjetaId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EstadoId, "EstadoId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EstadoId", String.Empty)
                @Html.ValidationMessageFor(model => model.EstadoId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
