﻿@model IEnumerable<Banco.Models.Tarjeta>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Estado.Motivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoTarjeta.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PinAcceso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroSecreeto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaValidez)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Limite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaPago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCorte)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Estado.Motivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoTarjeta.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PinAcceso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroSecreeto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaValidez)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Limite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaPago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCorte)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NumeroTarjeta }) |
            @Html.ActionLink("Details", "Details", new { id=item.NumeroTarjeta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NumeroTarjeta })
        </td>
    </tr>
}

</table>
