﻿@model Banco.Models.Prestamo

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Prestamo</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.CantidadMeses, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CantidadMeses)
                @Html.ValidationMessageFor(model => model.CantidadMeses)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Monto, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Monto)
                @Html.ValidationMessageFor(model => model.Monto)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Plazo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Plazo)
                @Html.ValidationMessageFor(model => model.Plazo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaInicial, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaInicial)
                @Html.ValidationMessageFor(model => model.FechaInicial)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaPago, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaPago)
                @Html.ValidationMessageFor(model => model.FechaPago)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CuentaId, "CuentaId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CuentaId", String.Empty)
                @Html.ValidationMessageFor(model => model.CuentaId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
