﻿@model CineKinal_2013328.Models.Sala

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Sala</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Complejo.NombreComplejo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Complejo.NombreComplejo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroSala)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroSala)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
