﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><center>Bienvenido a Guate-Fianzas</center></h1>
</div>


    <div class="col-md-4">
        <h2>Cuentas</h2>
        <p><a class="btn btn-default" href="http://localhost:2679/Cuentas">Crear una Cuenta &raquo;</a></p>
    </div>
   <div class="col-md-4">
    <h2>Get more libraries</h2>
    <p><a class="btn btn-default" href="http://localhost:2679/Personas">Crear una Cuenta &raquo;</a></p>
</div>

<div class="col-md-4">
    <h2>Prestamos</h2>
    <p><a class="btn btn-default" href="http://localhost:2679/Prestamos">Hacer Prestamos &raquo;</a></p>
</div>

<div class="col-md-4">
    <h2>Movimientos</h2>
    <p><a class="btn btn-default" href="http://localhost:2679/Movimientoes">Hacer un Movimiento &raquo;</a></p>
</div>

<div class="col-md-4">
    <h2>Tarjetas</h2>
    <p><a class="btn btn-default" href="http://localhost:2679/Tarjetas">Crear una Tarjeta &raquo;</a></p>
</div>
</div>