﻿@model Banco.Models.Movimiento

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Movimiento</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.CantidadConsumida, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CantidadConsumida)
                @Html.ValidationMessageFor(model => model.CantidadConsumida)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CantidadRetirada, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CantidadRetirada)
                @Html.ValidationMessageFor(model => model.CantidadRetirada)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaRealizado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaRealizado)
                @Html.ValidationMessageFor(model => model.FechaRealizado)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hora, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hora)
                @Html.ValidationMessageFor(model => model.Hora)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoMovimientoId, "TipoMovimientoId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TipoMovimientoId", String.Empty)
                @Html.ValidationMessageFor(model => model.TipoMovimientoId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
