﻿@model Banco.Models.Movimiento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Movimiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoMovimiento.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoMovimiento.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadConsumida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadConsumida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadRetirada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadRetirada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaRealizado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRealizado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
