﻿@model IEnumerable<Banco.Models.Movimiento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoMovimiento.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadConsumida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadRetirada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaRealizado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoMovimiento.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadConsumida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadRetirada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaRealizado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hora)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
