﻿@model CineKinal_2013328.Models.Funcion

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Funcion</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Precio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Precio)
                @Html.ValidationMessageFor(model => model.Precio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Clasificacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Clasificacion)
                @Html.ValidationMessageFor(model => model.Clasificacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PeliculaId, "PeliculaId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PeliculaId", String.Empty)
                @Html.ValidationMessageFor(model => model.PeliculaId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SalaId, "SalaId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SalaId", String.Empty)
                @Html.ValidationMessageFor(model => model.SalaId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
